/*CSS RESET CODE*/
html,body,div,h1,h2,h3,h4,h5,h6,p,a,ul,li,ol,img
{
	margin: 0;
	padding: 0;
}

body{
	width:100%;
	font-family: 'Vidaloka', serif;
	overflow-x:hidden;
	
}

#navigation{
	border:0px;
	text-align: center;
	position: absolute;
	width: 100%;
	line-height: 10px;
	width: 100%;
}

#navigation li
{
	display: inline-block;
	padding: 1em;
	margin:0 3em;
}
#navigation a
{
    color: #000000;
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 4px;
    font-size: 19px;
}

#header{
	height: 100vh;
	background-image: url('../images/image6.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	transition: all .2s ease-in-out 0s;

}
#prev{
   display: inline-block; 
   width: 49%;
   text-align: left;
}
#next{
	display: inline-block;
    text-align: right;
    width: 49%;
}
#slider_nav{
	margin-top: 75px;
	display: none;
}

#top_banner h1{
	color: black;
	padding: 0px;
	margin: 0px;
}

#section2{
	height: 500px;
	background-image: url('../images/tower_bridge2.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
h1{
	margin:0px 80px 50px 20px;
	padding: 10px;
	margin-top: 10px;
	color:#000000;
	display: inline-block;
}
	
}

#top_banner{
	text-align: center;
	background-color:#ffffff;
}

#header h1{
	text-align: center;
	color:#000000;
	padding-top: 100px;
	font-size: 40px;border:none;
	text-shadow: 2px 2px #ffffff;
    width: 100%;
}
#footer{
	text-align: center;
	background:linear-gradient(to bottom,#222,#111);
}

#footer p{
	padding: 50px;
	color: #fff;
}

#section3{
	height: 500px;
	background-image: url('../images/shard.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
#section4{
	height: 500px;
	background-image: url('../images/london_eye.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

}


#section5{
	height: 500px;
	background-image: url('../images/buck.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
#section6{height: 500px;
	background-image: url('../images/big.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#section7{
	height: 300px;
	background:linear-gradient(to right,#43cea2, #185a9d,#4DA0B0, #D39D38);
	padding:30px;

}


a:hover{
	border: 1px solid #000000 !important;
	border-radius: 5px;

}
#header h1{
	font-family: 'Cinzel', serif;
}
#navigation{
	font-family: 'Jura', sans-serif;
}

#navigation ul {
	padding: 1em;
}
.article{
    width: 37%;
    display: inline-block;
    background-color: beige;
    opacity: 0.7;
    padding: 10px;
    margin-left: 10px;
}
.article p{
	text-align: justify;
	color: #000000;
	font-family: 'Alegreya Sans SC', sans-serif;
	font-weight: bold;
	padding:3px;
}

.content-left{
text-align: left;
margin-left: 10px;
}

.content-right{
	text-align: right;
margin-right: 10px;
	
}

.left{
	text-align: left;
}

.right{
	text-align: right;
}

#section7 label{
	display: block;
	width: 350px;
	margin:auto;
	color: #ffffff;
	margin-bottom: 10px;


}
input[type="text"]{
	display: block;
	width: 350px;
	height: 20px;
	border: 1px solid #00eeff;
	border-radius: 15px;
	padding: 7px;
}
input[type="submit"]{
	display: block;
	margin:auto;	
    border:1px solid #00eeff;
    width: 75px;
    height: 25px;
    border-radius: 15px 
}
input:hover{
	width: 350px;
	height:25px;
	border:1px solid #000000;
	border-radius: 15px
}

input[type="submit"]:hover{
	width: 75px;
	height:25px;
	border:1px solid #000000;
	border-radius: 15px
}
.layer{
	display: inline-block;
	width: 100%;
	height:500px;
	position: absolute;
}
.layer:hover{
	background:linear-gradient(to right,#BB5E7D,#AD5784);
	opacity: 0.2;
}
.no-background{
	background: none;
}
i.scroll{
	color: #ffffff;
}

a.scroll:hover{
	border : none !important;
}

#top_banner{
	height: 350px;
}
#leftdiv{
	width: 50%;
	height:350px;
	display: inline-block;
	vertical-align: top;
}
#rightdiv{
    width: 49%;
	height:350px;
	display: inline-block;
	text-align: center;
	/*background:linear-gradient(to right,#43cea2,#185a9d);*/
}
#rightdiv h1{
	padding: 10px;
    display: inline-block;
    border: 4px double #000000;
    margin-top: 20px;
}
#leftdiv{
background:url('../images/about.jpg');
}
#aboutinfo p{
	text-align: justify;

}
.about-content{
    padding: 50px 20px 0px 20px;
}
